<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
    </startup>
  <appSettings>
    <add key="ImgSavePath" value="" />
    <add key="DBPath" value="E:\Dev\项目\DentalImaging\DentalImaging\bin\Debug\Patient" />
    <add key="AllOrTop" value="Top" />
    <add key="Top" value="3" />
    <add key="Manufacturer" value="" />
    <add key="ApplicationName" value="口腔内窥镜系统1.0" />
    <add key="Language" value="en"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
